<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <title>Document</title>
  <link rel="stylesheet" type="text/css" href="../assets/css/main.css">
  <link rel="stylesheet" type="text/css" href="../assets/libs/layui/css/layui.css">
  <script type="text/javascript" src="../assets/libs/jquery/jquery-3.3.1.min.js"></script>
  <script type="text/javascript" src="../assets/libs/layui/layui.js"></script>
  <script type="text/javascript" src="../assets/js/login.js"></script>
  <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=0">
  <meta http-equiv="X-UA-Compatible" content="IE=Edge,chrome=1">
</head>
<body>

  <div class="site-nav-bg">
    <div class="site-nav w1200">
      <p class="sn-back-home">
        <i class="layui-icon layui-icon-home"></i>
        <a href="../index.html">首页</a>
      </p>
    </div>
  </div>

  <div class="header">
    <div class="headerLayout w1200">
      <div class="headerCon">
        <h1 class="mallLogo">
          <a href="#" title="Frog Mall">
            <img src="../img/logo.png">
          </a>
        </h1>
      </div>
    </div>
  </div>

  <div class="content content-nav-base login-content">
    <div class="main-nav">
      <div class="inner-cont0">
        <div class="inner-cont1 w1200">
          <div class="inner-cont2">
            <a href="../views/commodity.html" class="active">所有商品</a>
          </div>
        </div>
      </div>
    </div>
    <div class="login-bg">
      <div class="login-cont w1200">
        <div class="form-box">
          <form class="layui-form">
            <legend>登录</legend>
            <div class="layui-form-item">
              <div class="layui-inline user">
                <div class="layui-input-inline">
                  <i class="layui-icon user-icon">&#xe770;</i>
                  <input type="text" name="userName" id="username" lay-verify="required" placeholder="请输入用户名"
                         autocomplete="off" class="layui-input">
                </div>
              </div>
              <div class="layui-inline user">
                <div class="layui-input-inline">
                  <i class="layui-icon user-icon">&#xe688;</i>
                  <input type="password" name="userPassword" id="password"  lay-verify="required" placeholder="请输入密码"
                         autocomplete="off" class="layui-input">
                </div>
              </div>
              <div class="layui-inline">
                <div class="layui-input-inline">
                  <a href="register.html" style="float: right; color: #cfb2f6" >注册账户</a>
                </div>
              </div>
            </div>
            <div class="layui-form-item login-btn">
              <div class="layui-input-block">
                <button class="layui-btn" lay-submit lay-filter="User-login-submit">登录</button>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>

  <div class="footer">
    <div class="ng-promise-box">
      <div class="ng-promise w1200">
        <p class="text">
          <a class="icon1" href="javascript:;">7天无理由退换货</a>
          <a class="icon2" href="javascript:;">满99元全场免邮</a>
          <a class="icon3" style="margin-right: 0" href="javascript:;">100%品质保证</a>
        </p>
      </div>
    </div>
    <div class="mod_help w1200">                                     
      <p>
        <a href="javascript:;">关于我们</a>
        <span>|</span>
        <a href="javascript:;">帮助中心</a>
        <span>|</span>
        <a href="javascript:;">售后服务</a>
        <span>|</span>
        <a href="javascript:;">关于货源</a>
      </p>
      <p class="coty">Frog Mall版权所有 &copy; 2019-2020</p>
    </div>
  </div>


</body>
</html>