<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <title>Document</title>
  <link rel="stylesheet" type="text/css" href="../assets/css/main.css">
  <link rel="stylesheet" type="text/css" href="../assets/libs/layui/css/layui.css">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=0">
  <meta http-equiv="X-UA-Compatible" content="IE=Edge,chrome=1">
  <style>
    .model-form {
      padding-top: 30px;
      padding-right: 45px;
    }
    .model-form-footer {
      text-align: right;
    }
  </style>
</head>
<body id="list-cont">
<div class="site-nav-bg">
  <div class="site-nav w1200">
    <div class="sn-quick-menu">
      <div class="login">
        <a href="javascript:myInfo();"><i class="layui-icon">&#xe770;</i>个人信息</a>
      </div>
      <div class="login">
        <a href="javascript:updateInfo();"><i class="layui-icon">&#xe631;</i>修改信息</a>
      </div>
      <div class="login">
        <a href="shopcart.html"><i class="layui-icon">&#xe657;</i>购物车</a>
      </div>
      <div class="login">
        <a href="javascript:loginOut();"><i class="layui-icon">&#xe66d;</i>退出登录</a>
      </div>
      <div class="login">
        <a href="javascript:deleteUser();"><i class="layui-icon">&#xe640;</i>注销用户</a>
      </div>
    </div>
  </div>
</div>
  <div class="header">
    <div class="headerLayout w1200">
      <div class="headerCon">
        <h1 class="mallLogo">
          <a href="#" title="Frog Mall">
            <img src="../img/logo.png">
          </a>
        </h1>
        <div class="mallSearch">
          <form action="" class="layui-form" novalidate>
            <input type="text" name="title" required  lay-verify="required" autocomplete="off"
                   class="layui-input" placeholder="请输入需要的商品">
            <button class="layui-btn" lay-submit lay-filter="formDemo">
                <i class="layui-icon layui-icon-search"></i>
            </button>
            <input type="hidden" name="" value="">
          </form>
        </div>
      </div>
    </div>
  </div>

  <div class="content">
    <div class="main-nav">
      <div class="inner-cont0">
        <div class="inner-cont1 w1200">
          <div class="inner-cont2">
            <a href="commodity.html" class="active">所有商品</a>
          </div>
        </div>
      </div>
    </div>
    <div class="category-con">
      <div class="category-inner-con w1200">
        <div class="category-type">
          <h3>全部分类</h3>
        </div>
        <div class="category-tab-content">
          <div class="nav-con">
            <ul class="normal-nav layui-clear">
              <li class="nav-item">
                <div class="title">女装</div>
                <p><a href="#">半身裙</a><a href="#">连衣裙</a><a href="#">毛衣</a></p>
                <i class="layui-icon layui-icon-right"></i>
              </li>
              <li class="nav-item">
                <div class="title">男装</div>
                <p><a href="#">休闲裤</a><a href="#">牛仔裤</a><a href="#">衬衫</a></p>
                <i class="layui-icon layui-icon-right"></i>
              </li>
              <li class="nav-item">
                <div class="title">鞋靴</div>
                <p><a href="#">帆布鞋</a><a href="#">运动鞋</a><a href="#">单鞋</a></p>
                <i class="layui-icon layui-icon-right"></i>
              </li>
              <li class="nav-item">
                <div class="title">食品</div>
                <p><a href="#">巧克力</a><a href="#">方便面</a><a href="#">饼干</a></p>
                <i class="layui-icon layui-icon-right"></i>
              </li>
              <li class="nav-item">
                <div class="title">箱包</div>
                <p><a href="#">单肩包</a><a href="#">双肩包</a><a href="#">钱包</a></p>
                <i class="layui-icon layui-icon-right"></i>
              </li>
              <li class="nav-item">
                <div class="title">百货</div>
                <p><a href="#">平底锅</a><a href="#">煤气灶</a><a href="#">毛巾</a></p>
                <i class="layui-icon layui-icon-right"></i>
              </li>
              <li class="nav-item">
                <div class="title">家电</div>
                <p><a href="#">洗衣机</a><a href="#">热水器</a><a href="#">空调</a></p>
                <i class="layui-icon layui-icon-right"></i>
              </li>
              <li class="nav-item nobor">
                <div class="title">母婴</div>
                <p><a href="#">孕妇装</a><a href="#">纸尿裤</a><a href="#">奶粉</a></p>
                <i class="layui-icon layui-icon-right"></i>
              </li>
            </ul>
          </div>
        </div>
      </div>
      <div class="category-banner">
        <div class="w1200">
          <img src="../img/banner1.jpg">
        </div>
      </div>
    </div>

    <div class="product-list-box" id="product-list-box">
      <div class="product-list-cont w1200">
        <h4>更多推荐</h4>
        <div class="product-item-box layui-clear" id="recommendation">
        </div>
      </div>
    </div>
  </div>

  <div class="footer">
    <div class="ng-promise-box">
      <div class="ng-promise w1200">
        <p class="text">
          <a class="icon1" href="javascript:;">7天无理由退换货</a>
          <a class="icon2" href="javascript:;">满99元全场免邮</a>
          <a class="icon3" style="margin-right: 0" href="javascript:;">100%品质保证</a>
        </p>
      </div>
    </div>
    <div class="mod_help w1200">                                     
      <p>
        <a href="javascript:;">关于我们</a>
        <span>|</span>
        <a href="javascript:;">帮助中心</a>
        <span>|</span>
        <a href="javascript:;">售后服务</a>
        <span>|</span>
        <a href="javascript:;">关于货源</a>
      </p>
      <p class="coty">Frog Mall版权所有 &copy; 2019-2020</p>
    </div>
  </div>
</body>
<!-- 修改信息弹窗 -->
<script type="text/html" id="pswModel">
  <form id="updateForm" class="layui-form model-form">
    <div class="layui-form-item">
      <label class="layui-form-label">用户名</label>
      <div class="layui-input-block">
        <input name="userName" placeholder="请输入用户名" type="text" class="layui-input" maxlength="20"
               lay-verify="required" required/>
      </div>
    </div>
    <div class="layui-form-item">
      <label class="layui-form-label">密码</label>
      <div class="layui-input-block">
        <input name="userPassword" placeholder="请输入密码" type="text" class="layui-input" maxlength="20"
               lay-verify="required" required/>
      </div>
    </div>
    <div class="layui-form-item">
      <label class="layui-form-label">手机号</label>
      <div class="layui-input-block">
        <input name="userMobile" placeholder="请输入手机号" type="text" class="layui-input" maxlength="20"
               lay-verify="required" required/>
      </div>
    </div>
    <div class="layui-form-item">
      <label class="layui-form-label">地址</label>
      <div class="layui-input-block">
        <input name="userAddress" placeholder="请输入地址" type="text" class="layui-input" maxlength="20"
               lay-verify="required" required/>
      </div>
    </div>
    <div class="layui-form-item model-form-footer">
      <button class="layui-btn layui-btn-primary" type="button" id="updateBtnCancel">取消</button>
      <button class="layui-btn" lay-filter="updateBtnSubmit" lay-submit data-type="reload">保存</button>
    </div>
  </form>
</script>
<script type="text/javascript" src="../assets/libs/jquery/jquery-3.3.1.min.js"></script>
<script type="text/javascript" src="../assets/libs/layui/layui.js"></script>
<script type="text/javascript" src="../assets/js/show.js"></script>
<script type="text/javascript" src="../assets/js/comment.js"></script>
<script type="text/javascript" src="../assets/js/commodity.js"></script>
</html>